.banner{
    background-image: url(../images/banner.jpg);
    height: 90vh;
    background-size:cover ;
}

btext{
    text-align: start;
    align-self: center;
    margin-top: 5rem;
    position:absolute;


}